run = "npm run dev"
entrypoint = "server/index.ts"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_11"

[env]
PORT = "5000"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm ci && npm run build"]
deploymentTarget = "autoscale"
